<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LoginExample</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
<nav class="navbar bg-dark">
    <div class="w-100">
        <a class="navbar-brand float-left text-white" asp-controller="Home" asp-action="Index">Example Login</a>
        <div class="float-right dropdown" style="padding-right: 24px;">
            <button class="btn btn-secondary dropdown-toggle btn-lg" type="button" id="dropDownLangButton" data-toggle="dropdown">English</button>
            <div class="dropdown-menu" aria-labelledby="dropDownLangButton">
                <a class="dropdown-item" href="#">English</a>
                <a class="dropdown-item" href="#">Bad English</a>
            </div>

        </div>
    </div>
</nav>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@RenderSection("Scripts", required: false)
</body>
</html>
