
@{
    @model LoginExample.Models.UserLoginRequest;
    ViewData["Title"] = "Login";
}

<div class="d-block-flex w-50 align-middle container bg-white">
    <h1>Sign In</h1>
    <br />
    <form asp-action="UserName">
        <div class="form-group">
            <label for="UserName">Username</label>
            <input type="text" asp-for="UserName" class="form-control" id="userName" placeholder="Username" />
            <button type="submit" class="btn-primary w-100">Next</button>
        </div>
    </form>

</div>


