@{
@model LoginExample.Models.UserLoginRequest;
    ViewData["Title"] = "Passowrd";
    }

<div class="d-block-flex w-50 align-middle container bg-white">
    <h1>Sign In</h1>
    <br />
    <form asp-action="Login">
        <input type="hidden" asp-for="UserName" id="userName"/>
        <div class="form-group">
            <label for="Password">Password</label>
            <input type="password" asp-for="Password" class="form-control" id="password" placeholder="password"/>
            <button type="submit" class="btn-primary w-100">Next</button>
        </div>
    </form>

</div>